<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eat da Burgers</title>
  </head>
  <body>
    <h1>Eat da Burgers!</h1>

    <p><%= startingContent %></p>

    <%= console.log(posts); %>

    <% for(let i = 0; i<posts.length; i++) { %>
      <% console.log(posts[i].name); %>
    <% }; %>

    <form class="" action="/" method="post">
      <input type="text" name="burgerName" />
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
